modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
IMAGEKIT_PUBLIC_KEY = "public_0nFf9f2g4"
IMAGEKIT_PRIVATE_KEY = "private_385bnuWrKb6U+EK+j/GT7meJggw="
IMAGEKIT_URL_ENDPOINT = "https://ik.imagekit.io/fjmnb748e"
VITE_IMAGEKIT_URL_ENDPOINT = "https://ik.imagekit.io/fjmnb748e"
